
#carousel {
    width: 400px;
    height:600px;
    overflow: hidden;
    margin: 0 auto;
	position: relative;
}

#carousel ul {
    width: 2000px;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#carousel ul li {
    display: inline-block;
	width: 400px;
	height: 600px;
}
#carousel ul li img {
	width: 400px;
	height: 600px;
	background-size: cover;
}
.buttons {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	cursor: poiner;
}
.container {
	position:relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
}
 